/* INICIO:
 * ========================================================================== */

#inicio {
    display: block\9; /* IE hack: 6, 7, 8, 9 */
    position: relative\9; /* IE hack: 6, 7, 8, 9 */
}
#inicio article {
    margin: calc(100vh/4) auto\9;  /* IE hack: 6, 7, 8, 9 */
}


/* GRID:
 * ========================================================================== */

.grid .element {
    font-size: 16px\9; /* IE hack: 6, 7, 8, 9 */
}

/* IE 10, 11 hack: */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .grid .element { font-size: 16px; }
}
