@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ifyujv');
	src:url('fonts/icomoon.eot?#iefixifyujv') format('embedded-opentype'),
		url('fonts/icomoon.woff?ifyujv') format('woff'),
		url('fonts/icomoon.ttf?ifyujv') format('truetype'),
		url('fonts/icomoon.svg?ifyujv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-homeicon:before {
	content: "\e900";
}

.icon-home2icon:before {
	content: "\e901";
}

.icon-home3icon:before {
	content: "\e902";
}

.icon-officeicon:before {
	content: "\e903";
}

.icon-newspapericon:before {
	content: "\e904";
}

.icon-pencilicon:before {
	content: "\e905";
}

.icon-pencil2icon:before {
	content: "\e906";
}

.icon-quillicon:before {
	content: "\e907";
}

.icon-penicon:before {
	content: "\e908";
}

.icon-blogicon:before {
	content: "\e909";
}

.icon-eyedroppericon:before {
	content: "\e90a";
}

.icon-dropleticon:before {
	content: "\e90b";
}

.icon-paint-formaticon:before {
	content: "\e90c";
}

.icon-imageicon:before {
	content: "\e90d";
}

.icon-imagesicon:before {
	content: "\e90e";
}

.icon-cameraicon:before {
	content: "\e90f";
}

.icon-headphonesicon:before {
	content: "\e910";
}

.icon-musicicon:before {
	content: "\e911";
}

.icon-playicon:before {
	content: "\e912";
}

.icon-filmicon:before {
	content: "\e913";
}

.icon-video-cameraicon:before {
	content: "\e914";
}

.icon-diceicon:before {
	content: "\e915";
}

.icon-pacmanicon:before {
	content: "\e916";
}

.icon-spadesicon:before {
	content: "\e917";
}

.icon-clubsicon:before {
	content: "\e918";
}

.icon-diamondsicon:before {
	content: "\e919";
}

.icon-bullhornicon:before {
	content: "\e91a";
}

.icon-connectionicon:before {
	content: "\e91b";
}

.icon-podcasticon:before {
	content: "\e91c";
}

.icon-feedicon:before {
	content: "\e91d";
}

.icon-micicon:before {
	content: "\e91e";
}

.icon-bookicon:before {
	content: "\e91f";
}

.icon-booksicon:before {
	content: "\e920";
}

.icon-libraryicon:before {
	content: "\e921";
}

.icon-file-texticon:before {
	content: "\e922";
}

.icon-profileicon:before {
	content: "\e923";
}

.icon-file-emptyicon:before {
	content: "\e924";
}

.icon-files-emptyicon:before {
	content: "\e925";
}

.icon-file-text2icon:before {
	content: "\e926";
}

.icon-file-pictureicon:before {
	content: "\e927";
}

.icon-file-musicicon:before {
	content: "\e928";
}

.icon-file-playicon:before {
	content: "\e929";
}

.icon-file-videoicon:before {
	content: "\e92a";
}

.icon-file-zipicon:before {
	content: "\e92b";
}

.icon-copyicon:before {
	content: "\e92c";
}

.icon-pasteicon:before {
	content: "\e92d";
}

.icon-stackicon:before {
	content: "\e92e";
}

.icon-foldericon:before {
	content: "\e92f";
}

.icon-folder-openicon:before {
	content: "\e930";
}

.icon-folder-plusicon:before {
	content: "\e931";
}

.icon-folder-minusicon:before {
	content: "\e932";
}

.icon-folder-downloadicon:before {
	content: "\e933";
}

.icon-folder-uploadicon:before {
	content: "\e934";
}

.icon-price-tagicon:before {
	content: "\e935";
}

.icon-price-tagsicon:before {
	content: "\e936";
}

.icon-barcodeicon:before {
	content: "\e937";
}

.icon-qrcodeicon:before {
	content: "\e938";
}

.icon-ticketicon:before {
	content: "\e939";
}

.icon-carticon:before {
	content: "\e93a";
}

.icon-coin-dollaricon:before {
	content: "\e93b";
}

.icon-coin-euroicon:before {
	content: "\e93c";
}

.icon-coin-poundicon:before {
	content: "\e93d";
}

.icon-coin-yenicon:before {
	content: "\e93e";
}

.icon-credit-cardicon:before {
	content: "\e93f";
}

.icon-calculatoricon:before {
	content: "\e940";
}

.icon-lifebuoyicon:before {
	content: "\e941";
}

.icon-phoneicon:before {
	content: "\e942";
}

.icon-phone-hang-upicon:before {
	content: "\e943";
}

.icon-address-bookicon:before {
	content: "\e944";
}

.icon-envelopicon:before {
	content: "\e945";
}

.icon-pushpinicon:before {
	content: "\e946";
}

.icon-locationicon:before {
	content: "\e947";
}

.icon-location2icon:before {
	content: "\e948";
}

.icon-compassicon:before {
	content: "\e949";
}

.icon-compass2icon:before {
	content: "\e94a";
}

.icon-mapicon:before {
	content: "\e94b";
}

.icon-map2icon:before {
	content: "\e94c";
}

.icon-historyicon:before {
	content: "\e94d";
}

.icon-clockicon:before {
	content: "\e94e";
}

.icon-clock2icon:before {
	content: "\e94f";
}

.icon-alarmicon:before {
	content: "\e950";
}

.icon-bellicon:before {
	content: "\e951";
}

.icon-stopwatchicon:before {
	content: "\e952";
}

.icon-calendaricon:before {
	content: "\e953";
}

.icon-printericon:before {
	content: "\e954";
}

.icon-keyboardicon:before {
	content: "\e955";
}

.icon-displayicon:before {
	content: "\e956";
}

.icon-laptopicon:before {
	content: "\e957";
}

.icon-mobileicon:before {
	content: "\e958";
}

.icon-mobile2icon:before {
	content: "\e959";
}

.icon-tableticon:before {
	content: "\e95a";
}

.icon-tvicon:before {
	content: "\e95b";
}

.icon-drawericon:before {
	content: "\e95c";
}

.icon-drawer2icon:before {
	content: "\e95d";
}

.icon-box-addicon:before {
	content: "\e95e";
}

.icon-box-removeicon:before {
	content: "\e95f";
}

.icon-downloadicon:before {
	content: "\e960";
}

.icon-uploadicon:before {
	content: "\e961";
}

.icon-floppy-diskicon:before {
	content: "\e962";
}

.icon-driveicon:before {
	content: "\e963";
}

.icon-databaseicon:before {
	content: "\e964";
}

.icon-undoicon:before {
	content: "\e965";
}

.icon-redoicon:before {
	content: "\e966";
}

.icon-undo2icon:before {
	content: "\e967";
}

.icon-redo2icon:before {
	content: "\e968";
}

.icon-forwardicon:before {
	content: "\e969";
}

.icon-replyicon:before {
	content: "\e96a";
}

.icon-bubbleicon:before {
	content: "\e96b";
}

.icon-bubblesicon:before {
	content: "\e96c";
}

.icon-bubbles2icon:before {
	content: "\e96d";
}

.icon-bubble2icon:before {
	content: "\e96e";
}

.icon-bubbles3icon:before {
	content: "\e96f";
}

.icon-bubbles4icon:before {
	content: "\e970";
}

.icon-usericon:before {
	content: "\e971";
}

.icon-usersicon:before {
	content: "\e972";
}

.icon-user-plusicon:before {
	content: "\e973";
}

.icon-user-minusicon:before {
	content: "\e974";
}

.icon-user-checkicon:before {
	content: "\e975";
}

.icon-user-tieicon:before {
	content: "\e976";
}

.icon-quotes-lefticon:before {
	content: "\e977";
}

.icon-quotes-righticon:before {
	content: "\e978";
}

.icon-hour-glassicon:before {
	content: "\e979";
}

.icon-spinnericon:before {
	content: "\e97a";
}

.icon-spinner2icon:before {
	content: "\e97b";
}

.icon-spinner3icon:before {
	content: "\e97c";
}

.icon-spinner4icon:before {
	content: "\e97d";
}

.icon-spinner5icon:before {
	content: "\e97e";
}

.icon-spinner6icon:before {
	content: "\e97f";
}

.icon-spinner7icon:before {
	content: "\e980";
}

.icon-spinner8icon:before {
	content: "\e981";
}

.icon-spinner9icon:before {
	content: "\e982";
}

.icon-spinner10icon:before {
	content: "\e983";
}

.icon-spinner11icon:before {
	content: "\e984";
}

.icon-binocularsicon:before {
	content: "\e985";
}

.icon-searchicon:before {
	content: "\e986";
}

.icon-zoom-inicon:before {
	content: "\e987";
}

.icon-zoom-outicon:before {
	content: "\e988";
}

.icon-enlargeicon:before {
	content: "\e989";
}

.icon-shrinkicon:before {
	content: "\e98a";
}

.icon-enlarge2icon:before {
	content: "\e98b";
}

.icon-shrink2icon:before {
	content: "\e98c";
}

.icon-keyicon:before {
	content: "\e98d";
}

.icon-key2icon:before {
	content: "\e98e";
}

.icon-lockicon:before {
	content: "\e98f";
}

.icon-unlockedicon:before {
	content: "\e990";
}

.icon-wrenchicon:before {
	content: "\e991";
}

.icon-equalizericon:before {
	content: "\e992";
}

.icon-equalizer2icon:before {
	content: "\e993";
}

.icon-cogicon:before {
	content: "\e994";
}

.icon-cogsicon:before {
	content: "\e995";
}

.icon-hammericon:before {
	content: "\e996";
}

.icon-magic-wandicon:before {
	content: "\e997";
}

.icon-aid-kiticon:before {
	content: "\e998";
}

.icon-bugicon:before {
	content: "\e999";
}

.icon-pie-charticon:before {
	content: "\e99a";
}

.icon-stats-dotsicon:before {
	content: "\e99b";
}

.icon-stats-barsicon:before {
	content: "\e99c";
}

.icon-stats-bars2icon:before {
	content: "\e99d";
}

.icon-trophyicon:before {
	content: "\e99e";
}

.icon-gifticon:before {
	content: "\e99f";
}

.icon-glassicon:before {
	content: "\e9a0";
}

.icon-glass2icon:before {
	content: "\e9a1";
}

.icon-mugicon:before {
	content: "\e9a2";
}

.icon-spoon-knifeicon:before {
	content: "\e9a3";
}

.icon-leaficon:before {
	content: "\e9a4";
}

.icon-rocketicon:before {
	content: "\e9a5";
}

.icon-metericon:before {
	content: "\e9a6";
}

.icon-meter2icon:before {
	content: "\e9a7";
}

.icon-hammer2icon:before {
	content: "\e9a8";
}

.icon-fireicon:before {
	content: "\e9a9";
}

.icon-labicon:before {
	content: "\e9aa";
}

.icon-magneticon:before {
	content: "\e9ab";
}

.icon-binicon:before {
	content: "\e9ac";
}

.icon-bin2icon:before {
	content: "\e9ad";
}

.icon-briefcaseicon:before {
	content: "\e9ae";
}

.icon-airplaneicon:before {
	content: "\e9af";
}

.icon-truckicon:before {
	content: "\e9b0";
}

.icon-roadicon:before {
	content: "\e9b1";
}

.icon-accessibilityicon:before {
	content: "\e9b2";
}

.icon-targeticon:before {
	content: "\e9b3";
}

.icon-shieldicon:before {
	content: "\e9b4";
}

.icon-powericon:before {
	content: "\e9b5";
}

.icon-switchicon:before {
	content: "\e9b6";
}

.icon-power-cordicon:before {
	content: "\e9b7";
}

.icon-clipboardicon:before {
	content: "\e9b8";
}

.icon-list-numberedicon:before {
	content: "\e9b9";
}

.icon-listicon:before {
	content: "\e9ba";
}

.icon-list2icon:before {
	content: "\e9bb";
}

.icon-treeicon:before {
	content: "\e9bc";
}

.icon-menuicon:before {
	content: "\e9bd";
}

.icon-menu2icon:before {
	content: "\e9be";
}

.icon-menu3icon:before {
	content: "\e9bf";
}

.icon-menu4icon:before {
	content: "\e9c0";
}

.icon-cloudicon:before {
	content: "\e9c1";
}

.icon-cloud-downloadicon:before {
	content: "\e9c2";
}

.icon-cloud-uploadicon:before {
	content: "\e9c3";
}

.icon-cloud-checkicon:before {
	content: "\e9c4";
}

.icon-download2icon:before {
	content: "\e9c5";
}

.icon-upload2icon:before {
	content: "\e9c6";
}

.icon-download3icon:before {
	content: "\e9c7";
}

.icon-upload3icon:before {
	content: "\e9c8";
}

.icon-sphereicon:before {
	content: "\e9c9";
}

.icon-earthicon:before {
	content: "\e9ca";
}

.icon-linkicon:before {
	content: "\e9cb";
}

.icon-flagicon:before {
	content: "\e9cc";
}

.icon-attachmenticon:before {
	content: "\e9cd";
}

.icon-eyeicon:before {
	content: "\e9ce";
}

.icon-eye-plusicon:before {
	content: "\e9cf";
}

.icon-eye-minusicon:before {
	content: "\e9d0";
}

.icon-eye-blockedicon:before {
	content: "\e9d1";
}

.icon-bookmarkicon:before {
	content: "\e9d2";
}

.icon-bookmarksicon:before {
	content: "\e9d3";
}

.icon-sunicon:before {
	content: "\e9d4";
}

.icon-contrasticon:before {
	content: "\e9d5";
}

.icon-brightness-contrasticon:before {
	content: "\e9d6";
}

.icon-star-emptyicon:before {
	content: "\e9d7";
}

.icon-star-halficon:before {
	content: "\e9d8";
}

.icon-star-fullicon:before {
	content: "\e9d9";
}

.icon-hearticon:before {
	content: "\e9da";
}

.icon-heart-brokenicon:before {
	content: "\e9db";
}

.icon-manicon:before {
	content: "\e9dc";
}

.icon-womanicon:before {
	content: "\e9dd";
}

.icon-man-womanicon:before {
	content: "\e9de";
}

.icon-happyicon:before {
	content: "\e9df";
}

.icon-happy2icon:before {
	content: "\e9e0";
}

.icon-smileicon:before {
	content: "\e9e1";
}

.icon-smile2icon:before {
	content: "\e9e2";
}

.icon-tongueicon:before {
	content: "\e9e3";
}

.icon-tongue2icon:before {
	content: "\e9e4";
}

.icon-sadicon:before {
	content: "\e9e5";
}

.icon-sad2icon:before {
	content: "\e9e6";
}

.icon-winkicon:before {
	content: "\e9e7";
}

.icon-wink2icon:before {
	content: "\e9e8";
}

.icon-grinicon:before {
	content: "\e9e9";
}

.icon-grin2icon:before {
	content: "\e9ea";
}

.icon-coolicon:before {
	content: "\e9eb";
}

.icon-cool2icon:before {
	content: "\e9ec";
}

.icon-angryicon:before {
	content: "\e9ed";
}

.icon-angry2icon:before {
	content: "\e9ee";
}

.icon-evilicon:before {
	content: "\e9ef";
}

.icon-evil2icon:before {
	content: "\e9f0";
}

.icon-shockedicon:before {
	content: "\e9f1";
}

.icon-shocked2icon:before {
	content: "\e9f2";
}

.icon-baffledicon:before {
	content: "\e9f3";
}

.icon-baffled2icon:before {
	content: "\e9f4";
}

.icon-confusedicon:before {
	content: "\e9f5";
}

.icon-confused2icon:before {
	content: "\e9f6";
}

.icon-neutralicon:before {
	content: "\e9f7";
}

.icon-neutral2icon:before {
	content: "\e9f8";
}

.icon-hipstericon:before {
	content: "\e9f9";
}

.icon-hipster2icon:before {
	content: "\e9fa";
}

.icon-wonderingicon:before {
	content: "\e9fb";
}

.icon-wondering2icon:before {
	content: "\e9fc";
}

.icon-sleepyicon:before {
	content: "\e9fd";
}

.icon-sleepy2icon:before {
	content: "\e9fe";
}

.icon-frustratedicon:before {
	content: "\e9ff";
}

.icon-frustrated2icon:before {
	content: "\ea00";
}

.icon-cryingicon:before {
	content: "\ea01";
}

.icon-crying2icon:before {
	content: "\ea02";
}

.icon-point-upicon:before {
	content: "\ea03";
}

.icon-point-righticon:before {
	content: "\ea04";
}

.icon-point-downicon:before {
	content: "\ea05";
}

.icon-point-lefticon:before {
	content: "\ea06";
}

.icon-warningicon:before {
	content: "\ea07";
}

.icon-notificationicon:before {
	content: "\ea08";
}

.icon-questionicon:before {
	content: "\ea09";
}

.icon-plusicon:before {
	content: "\ea0a";
}

.icon-minusicon:before {
	content: "\ea0b";
}

.icon-infoicon:before {
	content: "\ea0c";
}

.icon-cancel-circleicon:before {
	content: "\ea0d";
}

.icon-blockedicon:before {
	content: "\ea0e";
}

.icon-crossicon:before {
	content: "\ea0f";
}

.icon-checkmarkicon:before {
	content: "\ea10";
}

.icon-checkmark2icon:before {
	content: "\ea11";
}

.icon-spell-checkicon:before {
	content: "\ea12";
}

.icon-entericon:before {
	content: "\ea13";
}

.icon-exiticon:before {
	content: "\ea14";
}

.icon-play2icon:before {
	content: "\ea15";
}

.icon-pauseicon:before {
	content: "\ea16";
}

.icon-stopicon:before {
	content: "\ea17";
}

.icon-previousicon:before {
	content: "\ea18";
}

.icon-nexticon:before {
	content: "\ea19";
}

.icon-backwardicon:before {
	content: "\ea1a";
}

.icon-forward2icon:before {
	content: "\ea1b";
}

.icon-play3icon:before {
	content: "\ea1c";
}

.icon-pause2icon:before {
	content: "\ea1d";
}

.icon-stop2icon:before {
	content: "\ea1e";
}

.icon-backward2icon:before {
	content: "\ea1f";
}

.icon-forward3icon:before {
	content: "\ea20";
}

.icon-firsticon:before {
	content: "\ea21";
}

.icon-lasticon:before {
	content: "\ea22";
}

.icon-previous2icon:before {
	content: "\ea23";
}

.icon-next2icon:before {
	content: "\ea24";
}

.icon-ejecticon:before {
	content: "\ea25";
}

.icon-volume-highicon:before {
	content: "\ea26";
}

.icon-volume-mediumicon:before {
	content: "\ea27";
}

.icon-volume-lowicon:before {
	content: "\ea28";
}

.icon-volume-muteicon:before {
	content: "\ea29";
}

.icon-volume-mute2icon:before {
	content: "\ea2a";
}

.icon-volume-increaseicon:before {
	content: "\ea2b";
}

.icon-volume-decreaseicon:before {
	content: "\ea2c";
}

.icon-loopicon:before {
	content: "\ea2d";
}

.icon-loop2icon:before {
	content: "\ea2e";
}

.icon-infiniteicon:before {
	content: "\ea2f";
}

.icon-shuffleicon:before {
	content: "\ea30";
}

.icon-arrow-up-lefticon:before {
	content: "\ea31";
}

.icon-arrow-upicon:before {
	content: "\ea32";
}

.icon-arrow-up-righticon:before {
	content: "\ea33";
}

.icon-arrow-righticon:before {
	content: "\ea34";
}

.icon-arrow-down-righticon:before {
	content: "\ea35";
}

.icon-arrow-downicon:before {
	content: "\ea36";
}

.icon-arrow-down-lefticon:before {
	content: "\ea37";
}

.icon-arrow-lefticon:before {
	content: "\ea38";
}

.icon-arrow-up-left2icon:before {
	content: "\ea39";
}

.icon-arrow-up2icon:before {
	content: "\ea3a";
}

.icon-arrow-up-right2icon:before {
	content: "\ea3b";
}

.icon-arrow-right2icon:before {
	content: "\ea3c";
}

.icon-arrow-down-right2icon:before {
	content: "\ea3d";
}

.icon-arrow-down2icon:before {
	content: "\ea3e";
}

.icon-arrow-down-left2icon:before {
	content: "\ea3f";
}

.icon-arrow-left2icon:before {
	content: "\ea40";
}

.icon-circle-upicon:before {
	content: "\ea41";
}

.icon-circle-righticon:before {
	content: "\ea42";
}

.icon-circle-downicon:before {
	content: "\ea43";
}

.icon-circle-lefticon:before {
	content: "\ea44";
}

.icon-tabicon:before {
	content: "\ea45";
}

.icon-move-upicon:before {
	content: "\ea46";
}

.icon-move-downicon:before {
	content: "\ea47";
}

.icon-sort-alpha-ascicon:before {
	content: "\ea48";
}

.icon-sort-alpha-descicon:before {
	content: "\ea49";
}

.icon-sort-numeric-ascicon:before {
	content: "\ea4a";
}

.icon-sort-numberic-descicon:before {
	content: "\ea4b";
}

.icon-sort-amount-ascicon:before {
	content: "\ea4c";
}

.icon-sort-amount-descicon:before {
	content: "\ea4d";
}

.icon-commandicon:before {
	content: "\ea4e";
}

.icon-shifticon:before {
	content: "\ea4f";
}

.icon-ctrlicon:before {
	content: "\ea50";
}

.icon-opticon:before {
	content: "\ea51";
}

.icon-checkbox-checkedicon:before {
	content: "\ea52";
}

.icon-checkbox-uncheckedicon:before {
	content: "\ea53";
}

.icon-radio-checkedicon:before {
	content: "\ea54";
}

.icon-radio-checked2icon:before {
	content: "\ea55";
}

.icon-radio-uncheckedicon:before {
	content: "\ea56";
}

.icon-cropicon:before {
	content: "\ea57";
}

.icon-make-groupicon:before {
	content: "\ea58";
}

.icon-ungroupicon:before {
	content: "\ea59";
}

.icon-scissorsicon:before {
	content: "\ea5a";
}

.icon-filtericon:before {
	content: "\ea5b";
}

.icon-fonticon:before {
	content: "\ea5c";
}

.icon-ligatureicon:before {
	content: "\ea5d";
}

.icon-ligature2icon:before {
	content: "\ea5e";
}

.icon-text-heighticon:before {
	content: "\ea5f";
}

.icon-text-widthicon:before {
	content: "\ea60";
}

.icon-font-sizeicon:before {
	content: "\ea61";
}

.icon-boldicon:before {
	content: "\ea62";
}

.icon-underlineicon:before {
	content: "\ea63";
}

.icon-italicicon:before {
	content: "\ea64";
}

.icon-strikethroughicon:before {
	content: "\ea65";
}

.icon-omegaicon:before {
	content: "\ea66";
}

.icon-sigmaicon:before {
	content: "\ea67";
}

.icon-page-breakicon:before {
	content: "\ea68";
}

.icon-superscripticon:before {
	content: "\ea69";
}

.icon-subscripticon:before {
	content: "\ea6a";
}

.icon-superscript2icon:before {
	content: "\ea6b";
}

.icon-subscript2icon:before {
	content: "\ea6c";
}

.icon-text-coloricon:before {
	content: "\ea6d";
}

.icon-pagebreakicon:before {
	content: "\ea6e";
}

.icon-clear-formattingicon:before {
	content: "\ea6f";
}

.icon-tableicon:before {
	content: "\ea70";
}

.icon-table2icon:before {
	content: "\ea71";
}

.icon-insert-templateicon:before {
	content: "\ea72";
}

.icon-pilcrowicon:before {
	content: "\ea73";
}

.icon-ltricon:before {
	content: "\ea74";
}

.icon-rtlicon:before {
	content: "\ea75";
}

.icon-sectionicon:before {
	content: "\ea76";
}

.icon-paragraph-lefticon:before {
	content: "\ea77";
}

.icon-paragraph-centericon:before {
	content: "\ea78";
}

.icon-paragraph-righticon:before {
	content: "\ea79";
}

.icon-paragraph-justifyicon:before {
	content: "\ea7a";
}

.icon-indent-increaseicon:before {
	content: "\ea7b";
}

.icon-indent-decreaseicon:before {
	content: "\ea7c";
}

.icon-shareicon:before {
	content: "\ea7d";
}

.icon-new-tabicon:before {
	content: "\ea7e";
}

.icon-embedicon:before {
	content: "\ea7f";
}

.icon-embed2icon:before {
	content: "\ea80";
}

.icon-terminalicon:before {
	content: "\ea81";
}

.icon-share2icon:before {
	content: "\ea82";
}

.icon-mailicon:before {
	content: "\ea83";
}

.icon-mail2icon:before {
	content: "\ea84";
}

.icon-mail3icon:before {
	content: "\ea85";
}

.icon-mail4icon:before {
	content: "\ea86";
}

.icon-googleicon:before {
	content: "\ea87";
}

.icon-google-plusicon:before {
	content: "\ea88";
}

.icon-google-plus2icon:before {
	content: "\ea89";
}

.icon-google-plus3icon:before {
	content: "\ea8a";
}

.icon-google-driveicon:before {
	content: "\ea8b";
}

.icon-facebookicon:before {
	content: "\ea8c";
}

.icon-facebook2icon:before {
	content: "\ea8d";
}

.icon-facebook3icon:before {
	content: "\ea8e";
}

.icon-elloicon:before {
	content: "\ea8f";
}

.icon-instagramicon:before {
	content: "\ea90";
}

.icon-twittericon:before {
	content: "\ea91";
}

.icon-twitter2icon:before {
	content: "\ea92";
}

.icon-twitter3icon:before {
	content: "\ea93";
}

.icon-feed2icon:before {
	content: "\ea94";
}

.icon-feed3icon:before {
	content: "\ea95";
}

.icon-feed4icon:before {
	content: "\ea96";
}

.icon-youtubeicon:before {
	content: "\ea97";
}

.icon-youtube2icon:before {
	content: "\ea98";
}

.icon-youtube3icon:before {
	content: "\ea99";
}

.icon-youtube4icon:before {
	content: "\ea9a";
}

.icon-twitchicon:before {
	content: "\ea9b";
}

.icon-vimeoicon:before {
	content: "\ea9c";
}

.icon-vimeo2icon:before {
	content: "\ea9d";
}

.icon-vimeo3icon:before {
	content: "\ea9e";
}

.icon-lanyrdicon:before {
	content: "\ea9f";
}

.icon-flickr2icon:before {
	content: "\eaa0";
}

.icon-flickricon:before {
	content: "\eaa1";
}

.icon-flickr3icon:before {
	content: "\eaa2";
}

.icon-flickr4icon:before {
	content: "\eaa3";
}

.icon-picassaicon:before {
	content: "\eaa4";
}

.icon-picassa2icon:before {
	content: "\eaa5";
}

.icon-dribbbleicon:before {
	content: "\eaa6";
}

.icon-dribbble2icon:before {
	content: "\eaa7";
}

.icon-dribbble3icon:before {
	content: "\eaa8";
}

.icon-forrsticon:before {
	content: "\eaa9";
}

.icon-forrst2icon:before {
	content: "\eaaa";
}

.icon-deviantarticon:before {
	content: "\eaab";
}

.icon-deviantart2icon:before {
	content: "\eaac";
}

.icon-steamicon:before {
	content: "\eaad";
}

.icon-steam2icon:before {
	content: "\eaae";
}

.icon-dropboxicon:before {
	content: "\eaaf";
}

.icon-onedriveicon:before {
	content: "\eab0";
}

.icon-githubicon:before {
	content: "\eab1";
}

.icon-github2icon:before {
	content: "\eab2";
}

.icon-github3icon:before {
	content: "\eab3";
}

.icon-github4icon:before {
	content: "\eab4";
}

.icon-github5icon:before {
	content: "\eab5";
}

.icon-wordpressicon:before {
	content: "\eab6";
}

.icon-wordpress2icon:before {
	content: "\eab7";
}

.icon-joomlaicon:before {
	content: "\eab8";
}

.icon-bloggericon:before {
	content: "\eab9";
}

.icon-blogger2icon:before {
	content: "\eaba";
}

.icon-tumblricon:before {
	content: "\eabb";
}

.icon-tumblr2icon:before {
	content: "\eabc";
}

.icon-yahooicon:before {
	content: "\eabd";
}

.icon-tuxicon:before {
	content: "\eabe";
}

.icon-appleicon:before {
	content: "\eabf";
}

.icon-findericon:before {
	content: "\eac0";
}

.icon-androidicon:before {
	content: "\eac1";
}

.icon-windowsicon:before {
	content: "\eac2";
}

.icon-windows8icon:before {
	content: "\eac3";
}

.icon-soundcloudicon:before {
	content: "\eac4";
}

.icon-soundcloud2icon:before {
	content: "\eac5";
}

.icon-skypeicon:before {
	content: "\eac6";
}

.icon-redditicon:before {
	content: "\eac7";
}

.icon-linkedin2icon:before {
	content: "\eac8";
}

.icon-linkedinicon:before {
	content: "\eac9";
}

.icon-lastfmicon:before {
	content: "\eaca";
}

.icon-lastfm2icon:before {
	content: "\eacb";
}

.icon-deliciousicon:before {
	content: "\eacc";
}

.icon-stumbleuponicon:before {
	content: "\eacd";
}

.icon-stumbleupon2icon:before {
	content: "\eace";
}

.icon-stackoverflowicon:before {
	content: "\eacf";
}

.icon-pinteresticon:before {
	content: "\ead0";
}

.icon-pinterest2icon:before {
	content: "\ead1";
}

.icon-xingicon:before {
	content: "\ead2";
}

.icon-xing2icon:before {
	content: "\ead3";
}

.icon-flattricon:before {
	content: "\ead4";
}

.icon-foursquareicon:before {
	content: "\ead5";
}

.icon-paypalicon:before {
	content: "\ead6";
}

.icon-paypal2icon:before {
	content: "\ead7";
}

.icon-paypal3icon:before {
	content: "\ead8";
}

.icon-yelpicon:before {
	content: "\ead9";
}

.icon-file-pdficon:before {
	content: "\eada";
}

.icon-file-openofficeicon:before {
	content: "\eadb";
}

.icon-file-wordicon:before {
	content: "\eadc";
}

.icon-file-excelicon:before {
	content: "\eadd";
}

.icon-libreofficeicon:before {
	content: "\eade";
}

.icon-html5icon:before {
	content: "\eadf";
}

.icon-html52icon:before {
	content: "\eae0";
}

.icon-css3icon:before {
	content: "\eae1";
}

.icon-giticon:before {
	content: "\eae2";
}

.icon-svgicon:before {
	content: "\eae3";
}

.icon-codepenicon:before {
	content: "\eae4";
}

.icon-chromeicon:before {
	content: "\eae5";
}

.icon-firefoxicon:before {
	content: "\eae6";
}

.icon-IEicon:before {
	content: "\eae7";
}

.icon-operaicon:before {
	content: "\eae8";
}

.icon-safariicon:before {
	content: "\eae9";
}

.icon-IcoMoonicon:before {
	content: "\eaea";
}

