@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('./fawesome/fawesome.min.css');
@import url('./normalize.css');
@import url('./griditify.css');

* {
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 1.65em;
}

h1, h2, h3, h4, h5, h6 { color: #1A2229; }
h1, h2, h3 { font-weight: 900; }
h4, h5, h6 { font-weight: 400; }
p { color: #524E4D; font-size: 15px; font-weight: 300; }
p.enlarge { font-size: 18px; }

section,
article { position: relative; }
section { padding: 3.65em 0; overflow: hidden; }

a { color: #4791BD; text-decoration: none; }
a:active { color: #3F51B5; }
a:hover { color: #33698A;  text-decoration: underline; }


/* ESTRUCTURA DEL SITIO:
 * ========================================================================== */

.content {
    margin: auto;
    max-width: 960px;
}
.wrapper { padding: 1em; }


/*! responsive-nav.js 1.0.34 by @viljamis
 *  ========================================================================= */

.js .nav-toggle { display: none; }
@media all and (max-width: 640px) {

    .js .nav-collapse {
        clip: rect(0 0 0 0);
        max-height: 0px;
        overflow: hidden;
        zoom: 1;
    }
    .js .nav-collapse ul { width: 100%; }
    .js .nav-collapse li { width: 100%; }
    .js .nav-collapse.opened { max-height: 999px; }
    .js .nav-collapse.closed { max-height: 0px; }

    .js .nav-toggle {
        color: #FFF;
        display: block;
        outline: none;
        text-align: right;
        -webkit-tap-highlight-color: rgba(0,0,0, 0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
             -o-user-select: none;
                user-select: none;
    }

    .js .nav-toggle span {
        display: inline-block;
        margin-right: 8px;
        padding: .5em;
    }
    .js .nav-toggle span:before { font-size: 2em; content: '\f0c9'; }
    .js .nav-toggle:hover span,
    .js .nav-toggle.active span {}
    .js .nav-toggle,
    .js .nav-toggle span {
        -webkit-transition: all 128ms;
           -moz-transition: all 128ms;
             -o-transition: all 128ms;
                transition: all 128ms;
    }
}


/*! headroom.js v0.9.3 - Give your page some headroom.
 *  ========================================================================= */

.headroom {
    position: fixed !important;
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/**
 * Estilos para el comportamiento headroom:
 */
.headroom {
    -webkit-transition: all 0.25s;
       -moz-transition: all 0.25s;
         -o-transition: all 0.25s;
            transition: all 0.25s;
}
.js-nav-active .headroom--top,
.headroom--not-top {
    background-color: rgba(46, 60, 64, 0.75);
}
.headroom--bottom {
    transform: translateY(0%);
}


/* jQuery FlexSlider v2.5.0:
 * ========================================================================== */

.flex-control-nav,
.flex-direction-nav,
.slides { list-style: mone; padding: 0; }
.flex-control-nav { font-size: 0; margin-top: 2rem; }
.flex-direction-nav li,
.flex-control-nav li a,
.flex-control-nav li,
.flex-control-nav li a { display: inline-block; }
.flex-direction-nav li,
.flex-control-nav li { padding: 0 0.35rem; }
.flex-control-nav li a {
    content: "";
    line-height: normal;
    padding: 8px;
    background-color: #BBC;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    -webkit-transition: background-color 0.256s;
       -moz-transition: background-color 0.256s;
         -o-transition: background-color 0.256s;
            transition: background-color 0.256s;
}
.flex-control-nav li a.flex-active { background-color: #4791BD; }


/* NAVIGATION:
 * ========================================================================== */

#header {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
#header nav { padding: 1.5em 0; }
#header nav a {
    display: inline-block;
    color: #fff;
    font-size: 0.95em;
    padding: 0.40em 1em 0.45em 1em;
    text-decoration: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: background-color 0.128s;
       -moz-transition: background-color 0.128s;
         -o-transition: background-color 0.128s;
            transition: background-color 0.128s;
}
#header nav a:hover { background-color: #4791BD; }

@media screen and (max-width: 640px) {

    #header { position: fixed; }
    #header nav { padding: 0.55em; text-align: center; }
    #header nav a { display: block; padding: 0 1.25em; line-height: 3.25em; }
}


/* ME:
 * ========================================================================== */

#me {
    background-color: #2A3A3F;
    background-image: url('../images/bg-0.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.32);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.32);
}
#me:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: -webkit-linear-gradient(left, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
}
#me .content { margin-top: 10%; }
#me h1,
#me h2,
#me h5,
#me p {
    color: #FFF;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
}
#me h1 { line-height: 1.65em; }
#me p  { font-size: 13px; }
#me p a { color: #FFF; }
#me p a:hover { text-decoration: none; }
#me .wrapper--img { text-align: right; }
#me img { height: auto; width: 85%; }

@media screen and (max-width: 840px) {
    #me .griditify .row .col {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
    }
    #me h1,
    #me h2,
    #me h5,
    #me p { text-align: center; }
    #me h1 { font-size: 24px; }
    #me h2 { font-size: 20px; }
    #me .wrapper.wrapper--img { text-align: center; }
    #me img { height: auto; width: 196px; }
}

@media screen and (max-width: 640px) {
    #me { background-image: none; }
    #me h1 { font-size: 22px; }
    #me h2 { font-size: 18px; }
}

@media screen and (max-width: 320px) {
    #me h1 { font-size: 20px; }
    #me h2 { font-size: 16px; }
    #me h3 { font-size: 12px; }
}


/*
 * TYPER js:
 * Thanks to: Matt Farley
 * http://mattfarley.ca/
 * ========================================================================== */

.cd-words-wrapper {
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
     top: 0;
}

.cd-words-wrapper b.is-visible { position: relative; }
.no-js .cd-words-wrapper b { opacity: 0; }
.no-js .cd-words-wrapper b.is-visible { opacity: 1; }
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    /*overflow: hidden;*/
}

.cd-headline.type .cd-words-wrapper::after {
    background-color: #FFF;
    content: '';
    position: absolute;
    bottom: auto;
    height: 90%;
    right: 0;
    top: 50%;
    width: 1px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
            animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected { background-color: #147FF1; }
.cd-headline.type .cd-words-wrapper.selected::after { visibility: hidden; }
.cd-headline.type .cd-words-wrapper.selected b { color: #FFF; }
.cd-headline.type b { visibility: hidden; }

.cd-headline.type b.is-visible {
    visibility: visible;
    font-style: normal;
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden;
    font-style: normal;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
    font-style: normal;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* EXPERIENCE:
 * ========================================================================== */

#experience {
    background-color: #FAFAFA;
    min-height: 100vh;
}
#experience .icon { color: #4791BD; font-size: 4em; }

@media screen and (max-width: 840px) {
    #experience .griditify .col-04 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
    }
    #experience .griditify .col-04 p {
        margin: 0 auto;
        width: 65%;
    }
}

@media screen and (max-width: 480px) {
    #experience .griditify .col-04 p { width: 100%; }
}


/* TECHNOLOGY:
 * ========================================================================== */

#technology {
    background-color: #FFF;
    min-height: 100vh;
}
#technology .icon { color: #4791BD; font-size: 4em; }

@media screen and (max-width: 640px) {
    #technology .griditify .col-06 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
    }
}

/* WORK:
 * ========================================================================== */

#work {
    background-color: #FAFAFA;
    min-height: 100vh;
}
#work .flexslider ul { list-style: none; }
#work .flexslider ol.flex-control-nav { text-align: center; }
#work .flexslider ul.flex-direction-nav { display: none; }
#work img {
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0, 0.35);
            box-shadow: 1px 1px 8px rgba(0,0,0, 0.35);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
#work h3 { margin-top: 0; }
#work p.chops { font-size: 12px; font-weight: 400; }
#work p.dot span.dot--separator:after {
    display: inline;
    content: '\00B7';
    font-weight: bold;
    margin: 0 2px 0 6px;
}

#work p.options { font-size: 12px; }
#work p.options a {
    font-size: inherit;
    padding: 0.64rem 1.64rem;
    text-decoration: none;
}

@media screen and (max-width: 840px) {
    #work .col-06 {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    #work h3.text-left,
    #work p.text-left { text-align: center; }
}


/* CONTACT:
 * ========================================================================== */

#contact {
    background-color: #4791BD;
    margin-bottom: 75px;
    min-height: 100vh;
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.32);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.32);
}
#contact h2 { color: #fff; }
#contact p,
#contact p a {
    color: #eee;
    text-decoration: none;
}

#contact p a.btn {
    border-color: #2A3A3F;
    color: #2A3A3F;
    font-size: 13px;
    margin: 8px auto;
    padding: 0.85rem 2rem;
    min-width: 240px; 
}
#contact p a.btn:hover { color: #FFF; }
#contact p a.btn:before { background-color: #2A3A3F; }


/* FOOTER:
 * ========================================================================== */

footer {
    background-color: #2A3A3F;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
footer p {
    color: #FFF;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 2em;
}


/* BOTÓNES:
 * ========================================================================== */

.btn {
    border: 2px solid #4791BD;
    color: #1A2229;
    display: inline-block;
    font-weight: 700;
    padding: 1rem 2.2rem;
    position: relative;
    margin-bottom: 0;
    line-height: 1rem;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 50px;
    touch-action: manipulation;
    user-select: none;
}
.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.btn:hover,
.btn:focus,
.btn:active {
    color: #FFF;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* Effect: Bounce Bottom */
.btn--bounce-bottom {
    box-shadow: 0 0 1px transparent;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.btn--bounce-bottom:before {
    background-color: #4791BD;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transition-property: transform;
            transition-property: transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.btn--bounce-bottom:hover:before,
.btn--bounce-bottom:focus:before,
.btn--bounce-bottom:active:before {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Effect: Radial Out */
.btn--radial-out {
    box-shadow: 0 0 1px transparent;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.btn--radial-out:before {
    background-color: #4791BD;
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: transform;
            transition-property: transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.btn--radial-out:hover:before,
.btn--radial-out:focus:before,
.btn--radial-out:active:before {
    -webkit-transform: scale(2);
            transform: scale(2);
}


/* OTROS EFECTOS:
 * ========================================================================== */

.bg-cover:before {
    background-color: #171820;
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    position: absolute;
    top: 0px;
    width: 100%;
}


/* CORTES DIAGONALES DE SECTIONS:
 * ========================================================================== */

.diagonal-cut {
    overflow: initial;
    padding-top: 0.65em;
}
.diagonal-cut:before {
    background-color: inherit;
    display: block;
    content: "";
    position: absolute;
    top: -40px;
    width: 100%;
    height: 80px;
    /*opacity: 0.2;/***/
    -webkit-transform: skew(0deg, 2deg);
       -moz-transform: skew(0deg, 2deg);
        -ms-transform: skew(0deg, 2deg);
         -o-transform: skew(0deg, 2deg);
            transform: skew(0deg, 2deg);
}
.diagonal-cut--inverted:before {
    -webkit-transform: skew(0deg, -2deg);
       -moz-transform: skew(0deg, -2deg);
        -ms-transform: skew(0deg, -2deg);
         -o-transform: skew(0deg, -2deg);
            transform: skew(0deg, -2deg);
}


/* CLEARING:
 * ========================================================================== */

.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-none { clear: none; }
.clear-right { clear: right; }


/* DISPLAY:
 * ========================================================================== */

.display-block { display: block; }
.display-inblock { display: inline-block; }
.display-inline { display: inline; }
.display-none { display: none; }


/* FLOATING:
 * ========================================================================== */

.float-left { float: left; }
.float-none { float: none; }
.float-right { float: right; }


/* MARGINS:
 * ========================================================================== */

.margin-auto { margin: auto; }


/* TEXT ALIGMENT:
 * ========================================================================== */

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }


/* VERTICAL ALIGNMENT:
 * ========================================================================== */

.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }
.vertical-bottom { vertical-align: bottom; }


/* WIDTH:
 * ========================================================================== */

.width-100 { width: 100%; }
.width-95 { width: 95%; }
.width-90 { width: 90%; }
.width-85 { width: 85%; }
.width-80 { width: 80%; }
.width-75 { width: 75%; }
.width-70 { width: 70%; }
.width-65 { width: 65%; }
.width-60 { width: 60%; }
.width-55 { width: 55%; }
.width-50 { width: 50%; }
.width-45 { width: 45%; }
.width-40 { width: 40%; }
.width-35 { width: 35%; }
.width-30 { width: 30%; }
.width-25 { width: 25%; }
.width-20 { width: 20%; }
.width-15 { width: 15%; }
.width-10 { width: 10%; }
.width-05 { width: 05%; }


/* CSS HACKS:
 * ========================================================================== */

img.img-responsive {
    border: none;
    height: auto;
    position: relative;
}

img.img-bordered {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 3px;
}

img.img-rounded {
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

.test, .test * { outline: 1px solid red; outline-offset: -1px; }

.clearfix.line { margin: 32px auto; }
.clearfix.line:before {
    display: block;
    content: '';
    margin: 0 auto;
    background-image: url('../images/line-bg.png');
    height: 6px;
    width: 70px;
}

/* clearfix: */
.clearfix:after {
    clear: both;
    content: '';
    height: 0;
    visibility: hidden;
}
* html .clearfix, *:first-child+html .clearfix { zoom: 1; }
